/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-qpzc3h0sey] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--mud-palette-background);
    color: var(--mud-palette-text-primary);
    min-height: 100vh;
}

main[b-qpzc3h0sey] {
    flex: 1;
    padding-top: 1.5rem;
}

.sidebar[b-qpzc3h0sey] {
    background-image: linear-gradient(180deg, var(--mud-palette-primary) 0%, var(--mud-palette-primary-darken) 100%);
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-row[b-qpzc3h0sey] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.5rem;
    background-color: var(--mud-palette-background);
}

.content[b-qpzc3h0sey] {
    padding-bottom: 1.5rem;
}

.dark-theme[b-qpzc3h0sey] {
    background-color: var(--mud-palette-background-grey);
}

.dark-theme .top-row[b-qpzc3h0sey] {
    background-color: var(--mud-palette-background-grey);
}

@media (min-width: 641px) {
    .page[b-qpzc3h0sey] {
        flex-direction: row;
    }

    .sidebar[b-qpzc3h0sey] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qpzc3h0sey] {
        position: sticky;
        top: 0;
        z-index: 2;
    }
} 
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-dfd81cgaax] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-dfd81cgaax] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-dfd81cgaax] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-dfd81cgaax] {
    font-size: 1.1rem;
}

.oi[b-dfd81cgaax] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-dfd81cgaax] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item[b-dfd81cgaax]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-dfd81cgaax]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-dfd81cgaax]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-dfd81cgaax] {
        display: none;
    }

    .collapse[b-dfd81cgaax] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
} 
